if SHIELD_ANDROMEDA_64_LEFT

config ZMK_KEYBOARD_NAME
    default "Andromeda 64"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ANDROMEDA_64_LEFT

if SHIELD_ANDROMEDA_64_LEFT || SHIELD_ANDROMEDA_64_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ANDROMEDA_64_LEFT || SHIELD_ANDROMEDA_64_RIGHT
