if SHIELD_ANDROMEDA_62_LEFT

config ZMK_KEYBOARD_NAME
    default "Andromeda 62"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ANDROMEDA_62_LEFT

if SHIELD_ANDROMEDA_62_LEFT || SHIELD_ANDROMEDA_62_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ANDROMEDA_62_LEFT || SHIELD_ANDROMEDA_62_RIGHT
